@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --color-heading: #1A1926;
    --color-body-light: #637085;
    --color-body-dark: #28263B;
    --color-grey100: #F5F7FA;
    --color-grey200: #F0F1F5;
    --color-grey300: #E8EAED;
    --color-grey400: #E3E5E8;
    --color-border100: #EBEEF2;
    --color-border200: #E3E5E8;
    --color-border300: #C6C8CC;
    --color-background: #F1F3F7;
    --color-surface: #FFFFFF;
    --color-accent: #2D99FF;
    --color-orange: #FF9640;
    --color-red: #FF6640;
    --color-yellow: #FFD422;
    --color-blue: #2CD9D9;
    --color-green: #31D482;
    --color-purple: #826AF9;
    --color-dark-green: #24B26B;
    --color-dark-orange: #F09330;
    --color-dark-yellow: #FCBB42;
    --color-dark-red: #E94D3F;
    --color-dark-blue: #2D7DCC;
    --color-dark-purple: #634CD4;
    --color-accent-dark: #2682D9;
    --color-modal-background: rgba(0,0,0, 0.2);
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
}

.register-wrapper form .field-validation-error {
    position: absolute;
    z-index: 1;
    right: .3rem;
    top: 54px;
    font-size: 12px;
    background-color: rgba(245, 0, 0, 0.1);
    color: var(--color-dark-red);
    padding: 0.6rem 1rem;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.login-wrapper form .field-validation-error {
    position: absolute;
    z-index: 1;
    right: .3rem;
    top: 34px;
    font-size: 12px;
    background-color: rgba(245, 0, 0, 0.1);
    color: var(--color-dark-red);
    padding: 0.6rem 1rem;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.addProjectModal form .field-validation-error,
.editProjectModal form .field-validation-error {
    position: absolute;
    z-index: 10;
    right: .2rem;
    top: 25px;
    font-size: 12px;
    background-color: rgba(245, 0, 0, 0.1);
    color: var(--color-dark-red);
    padding: 0.5rem 1rem;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}



/*-----PORTAL-----*/

.portal-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
    .container-side

{
    border: solid 1px var(--color-border200);
    img

{
    margin-top: 1.2rem;
    margin-left: 1.2rem;
    padding-right: 7rem;
}

.folder {
    display: flex;
    background-color: #DBE9F8;
    border-radius: 15px;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1.2rem;
    .fa-solid

{
    color: var(--color-accent);
    align-self: center;
    margin-left: 1.2rem;
    margin-right: .8rem;
}

p {
    color: var(--color-accent);
    font-weight: 500;
    font-size: 15px;
}

}
}

.container-main {
    .top

{
    border: solid 1px var(--color-border200);
    display: flex;
    flex-direction: row-reverse;
    img

{
    background: rgb(255,208,128);
    background: radial-gradient(circle, rgba(255,208,128,1) 36%, rgba(255,187,128,1) 100%);
    border-radius: 50%;
    margin-top: 1.2rem;
    margin-right: 2rem;
    margin-bottom: 1.2rem;
}

.fa-solid {
    color: grey;
    align-self: center;
    margin-right: 2rem;
}

}

.overview {
    border: solid 1px var(--color-border200);
    .overview-top

{
    display: grid;
    grid-template-columns: 1fr auto;
    h1

{
    margin-left: 2rem;
    margin-top: 2rem;
    font-weight: 700;
    font-size: 32px;
}

#add-project-button {
    height: 47%;
    padding: .9rem;
    padding-right: 2.2rem;
    padding-left: 2.2rem;
    background-color: var(--color-accent);
    border: none;
    border-radius: 8px;
    color: var(--color-surface);
    margin-right: 2rem;
    align-self: center;
}

    #add-project-button:hover {
        cursor: pointer;
        background-color: var(--color-accent-dark);
    }

}

.status-button {
    margin-left: 2rem;
    margin-bottom: .5rem;
    color: grey;
    font-weight: 700;
    font-size: 16px;
    border: none;
    font-family: "Nunito", sans-serif;
}

.status-button:hover  {
    color: var(--color-accent);
    cursor: pointer;
}



.overview-bottom {
    display: flex;
    flex-direction: row;
}
}

.projects {
    border: solid 1px var(--color-border200);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;


    
}

}
}

.project {
    background-color: var(--color-surface);
    margin: 2rem;
    border-radius: 12px;
    box-shadow: 0 6px 4px 3px rgba(180,180,180, 0.1);
    padding: 1.7rem;
    margin-right: 1.5rem;
    height: 350px;
}

.project-header {
    display: grid;
    grid-template-columns: auto 2fr auto;
    grid-template-rows: auto auto;
    grid-template-areas: 'img heading button' 'img text button'
}

.project-image {
    grid-area: img;
    width: 95px;

}

.heading {
    grid-area: heading;
    font-size: 20px;
    font-weight: 600;
    margin-top: .5rem;
    margin-left: 1rem;
    margin-bottom: 0;

}

.edit-button {
    grid-area: button;
    background-color: var(--color-grey100);
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 50px;
     
}

.edit-button:hover {
    cursor: pointer;
    background-color: var(--color-grey400);
}

.text {
    grid-area: text;
    margin: 0;
    color: var(--color-body-light);
    font-weight: 400;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
}



#log-out-button {
    border: none;
    padding: 0;
    width: 2.5%;
    margin-right: 1rem;
}

#log-out-button:hover {
    cursor: pointer;
    
    i {
          color: var(--color-heading);
      }
}


/*-----ADD PROJECT MODAL-----*/

.addProjectModal {
display: none;
background-color: var(--color-modal-background);
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
justify-content: center;
align-items: center;

label {
          font-size: 15px;
          font-weight: 600;
      }

input[type="text"] {
    font-size: 15px;
    padding-top: .6rem;
    padding-bottom: .6rem;
}

#description {
    padding-bottom: 5rem;
}

}

#projectImage {
    display: flex;
    justify-self: center;
}

    .addProjectModal .modal-content {
        background-color: var(--color-surface);
        border-radius: 16px;
        box-shadow: 0 4px 4px 3px rgba(180,180,180, 0.7);
        padding: 2rem;
    }

        .addProjectModal .modal-content .modal-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;

            h2 {
                   margin: 0;
                   font-size: 28px;
               }
           
        }

.close-button {
    cursor: pointer;
    font-size: 2em;
    border: none;
    background-color: transparent;
    color: var(--color-heading);
    display: flex;
    justify-content: center;
    align-items: center;
}


#addProjectModal .modal-content {
    width: 550px;
}

.create-button {
    height: 47%;
    padding: .9rem;
    padding-right: 2.2rem;
    padding-left: 2.2rem;
    background-color: var(--color-accent);
    border: none;
    border-radius: 8px;
    color: var(--color-surface);
    margin-right: 2rem;
    align-self: center;
    width: 100%;
}

.create-button:hover {
    cursor: pointer;
    background-color: var(--color-accent-dark);
}

.addProject {
    width: 100%;
}

.addProject .form-group {
    position: relative;
    display: grid;
    gap: 0.2rem;
    margin-bottom: 1.2rem;
}

.addProject .field-group {
    position: relative;
}

.addProject input,
.addProject select,
.addProject textarea {
    width: 100%;
    font-size: 1em;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    border: 1px solid var(--color-border200);
}

.addProject input:focus,
.addProject select:focus,
.addProject textarea:focus {
    border: 1px solid var(--color-accent);
}

.dates {
    display: flex;
    gap: 3rem;
    justify-content: center;
    box-sizing:unset;


    input [type="date"]
{
    font-size: 15px;
    justify-self: stretch;
}
}

#status {
    font-size: 15px;
    padding-top: .6rem;
    padding-bottom: .6rem;
}

/*-----SIGN OUT MODAL-----*/

.signOutModal {
    display: none;
    position: fixed;
    right: 7rem;
    top: 4rem;

}

.signOutModal .modal-content {
    background-color: var(--color-surface);
    border-radius: 16px;
    box-shadow: 0 4px 4px 3px rgba(180,180,180, 0.3);
    padding: .7rem;
}

.signOut-button {
    border: none;
    background-color: transparent;
    display: flex;
    gap: 1rem;
    border-radius: 10px;
    width: 100%;

    i {
          align-self: center;
          margin-left: 1rem;
      }
    p {
        font-family: "Nunito", sans-serif;
        font-size: 16px;
        padding-right: 10rem;
    }
}

.signOut-button:hover {
    cursor: pointer;
    background-color: var(--color-accent);

    p {
          color: var(--color-surface);
      }
    i {
        color: var(--color-surface);
    }
}

.signOutModal .modal-header {
   background-color: var(--color-grey100);
   display: flex;
   gap: 1.2rem;
   border-radius: 10px;
   padding-right: 7rem;
   align-items: center;


   img
    {
        background: rgb(255,208,128);
        background: radial-gradient(circle, rgba(255,208,128,1) 36%, rgba(255,187,128,1) 100%);
        border-radius: 50%;
        height: 42px;
        margin-left: 1rem;
        border: 2px solid var(--color-surface);
    }
    p {
        font-weight: 600;
    }
}



/*-----EDIT AND DELETE MODAL------*/

.editAndDeleteModal {
    display: none;
    position: fixed;
    top: 21rem;
    left: 35rem;
    
}

    .editAndDeleteModal .modal-content {
        background-color: var(--color-surface);
        display: flex;
        flex-direction: column;
        padding: 1rem;
        box-shadow: 0 4px 4px 3px rgba(180,180,180, 0.3);
        border-radius: 16px;
    }

.editAndDeleteModal .modal-content button {
    display: flex;
    flex-direction: row;
    border: none;
    background-color: var(--color-surface);
    border-radius: 10px;
    padding-right: 1.2rem;
    padding-left: 1.2rem;

    p
{
    font-size: 15px;
    font-family: "Nunito", sans-serif;
}

    .fa-solid {
        margin-top: 1.1rem;
        margin-right: 1rem;
    }

}

.editAndDeleteModal .modal-content button:hover {
    background-color: var(--color-grey200);
    cursor: pointer;
}

.delete-button {
    .fa-trash-can {
                      color: var(--color-red);
                  }
    p {
        color: var(--color-red);
    }
}



/*-----EDIT PROJECT MODAL-----*/

.editProjectModal {
    z-index: 1000;
    display: none;
    background-color: var(--color-modal-background);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    label

{
    font-size: 15px;
    font-weight: 600;
}

input[type="text"] {
    font-size: 15px;
    padding-top: .6rem;
    padding-bottom: .6rem;
}

#description {
    padding-bottom: 5rem;
}

}

#projectImage {
    display: flex;
    justify-self: center;
}

.editProjectModal .modal-content {
    z-index: 1001;
    background-color: var(--color-surface);
    border-radius: 16px;
    box-shadow: 0 4px 4px 3px rgba(180,180,180, 0.7);
    padding: 2rem;
}

    .editProjectModal .modal-content .modal-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        h2

{
    margin: 0;
    font-size: 28px;
}

}

.close-button {
    cursor: pointer;
    font-size: 2em;
    border: none;
    background-color: transparent;
    color: var(--color-heading);
    display: flex;
    justify-content: center;
    align-items: center;
}


#editProjectModal .modal-content {
    width: 550px;
}

.create-button {
    height: 47%;
    padding: .9rem;
    padding-right: 2.2rem;
    padding-left: 2.2rem;
    background-color: var(--color-accent);
    border: none;
    border-radius: 8px;
    color: var(--color-surface);
    margin-right: 2rem;
    align-self: center;
    width: 100%;
}

    .create-button:hover {
        cursor: pointer;
        background-color: var(--color-accent-dark);
    }

.editProject {
    width: 100%;
}

    .editProject .form-group {
        position: relative;
        display: grid;
        gap: 0.2rem;
        margin-bottom: 1.2rem;
    }

    .editProject .field-group {
        position: relative;
    }

    .editProject input,
    .editProject select,
    .editProject textarea {
        width: 100%;
        font-size: 1em;
        padding: 0.5rem 1rem;
        border-radius: 12px;
        border: 1px solid var(--color-border200);
    }

        .editProject input:focus,
        .editProject select:focus,
        .editProject textarea:focus {
            border: 1px solid var(--color-accent);
        }

.dates {
    display: flex;
    gap: 3rem;
    justify-content: center;
    box-sizing: unset;
    input [type="date"]

{
    font-size: 15px;
    justify-self: stretch;
}

}

#status {
    font-size: 15px;
    padding-top: .6rem;
    padding-bottom: .6rem;
}




/*-----REGISTER-----*/

.register-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    .container

{
    background-color: var(--color-surface);
    border-radius: 10px;
    padding-left: 9.5rem;
    padding-right: 9.5rem;
    place-self: center;
    margin-top: 3.5rem;
    h1

{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    padding-top: 4rem;
    padding-bottom: 1.5rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    label

{
    font-weight: 500;
    font-size: 16px;
    padding-bottom: .5rem;
}

.form-input {
    border: solid 1px var(--color-border100);
    border-radius: 8px;
    padding: .8rem;
}

.form-label {
    margin-top: 1.3rem;
}

}

.accept-button {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 6.2rem;
    font-weight: 400;
    margin-top: 1.3rem;
    margin-bottom: 1.8rem;
}

input[type="checkbox"] {
    accent-color: var(--color-accent);
    background-color: var(--color-surface);
}

.button {
    padding: .9rem;
    padding-right: 8.5rem;
    padding-left: 8.5rem;
    background-color: var(--color-accent);
    border: none;
    border-radius: 8px;
    color: var(--color-white);
    margin-bottom: 5.5rem;
}

    .button:hover {
        cursor: pointer;
        background-color: var(--color-accent-dark);
    }

p {
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.2rem;
}

}

#submit-button {
    color: var(--color-surface);
}

#login-link {
    color: var(--color-accent);
    text-decoration: none;
}

}

    form .input-group {
        position: relative;
    }




/*-----LOGIN-----*/

.login-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    .container

{
    background-color: var(--color-surface);
    border-radius: 10px;
    padding-left: 9.5rem;
    padding-right: 9.5rem;
    place-self: center;
    margin-top: 9rem;
    h1

{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    padding-top: 4rem;
    padding-bottom: 1.5rem;
}

.input-group {
    position: relative;
    display: flex;
    flex-direction: column;
    label

{
    font-weight: 500;
    font-size: 16px;
    padding-bottom: .5rem;
}

.form-input {
    border: solid 1px var(--color-border100);
    border-radius: 8px;
    padding: .8rem;
    margin-bottom: 1.3rem;
}

}

.remember-button {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 15.5rem;
    font-weight: 400;
    margin-top: .5rem;
    margin-bottom: 1.8rem;
}

input[type="checkbox"] {
    accent-color: var(--color-accent);
    background-color: var(--color-surface);
}

.button {
    padding: .9rem;
    padding-right: 10.2rem;
    padding-left: 10.2rem;
    background-color: var(--color-accent);
    border: none;
    border-radius: 8px;
    color: var(--color-surface);
    margin-bottom: 5.5rem;
}

    .button:hover {
        cursor: pointer;
        background-color: var(--color-accent-dark);
    }

p {
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.2rem;
}

}

#register-link {
    color: var(--color-accent);
    text-decoration: none;
}

#login-link {
    color: var(--color-surface);
    text-decoration: none;
}
}
