@* @page *@
@model Business.Models.AddProjectForm
@{

}

<div id="addProjectModal" class="modal addProjectModal">
    <div class="modal-content">

        <div class="modal-header">
            <h2>Add Project</h2>
            
            <button type="button" class="close-button" data-close="true">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>

        <img id="projectImage" src="images/project.svg" alt="Project Image" />

        <form class="addProject" novalidate method="post" asp-action="AddProject">
            <div class="form-group">
                <label asp-for="ProjectName">Project Name</label>
                <div class="field-group">
                    <input asp-for="ProjectName" type="text" placeholder="Project Name"/>
                    <span asp-validation-for ="ProjectName" class="field-validation-error"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ClientName">Client Name</label>
                <div class="field-group">
                    <input asp-for="ClientName" type="text" placeholder="Client Name" />
                    <span asp-validation-for="ClientName" class="field-validation-error"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description">Description</label>
                <div class="field-group">
                    <input asp-for="Description" id="description" type="text" placeholder="Give your project a description" />
                    <span asp-validation-for="Description" class="field-validation-error"></span>
                </div>
            </div>

            <div class="dates">
                <div class="form-group">
                    <label asp-for="StartDate">Start Date</label>
                    <div class="field-group">
                        <input asp-for="StartDate" type="date" value="2025-01-01" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="EndDate">End Date</label>
                    <div class="field-group">
                        <input asp-for="EndDate" type="date" value="2025-01-01" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Status">Status</label>
                <div id="status" class="field-group">
                    <select asp-for="Status" name="Status">
                        <option value="Not yet started">Not yet started</option>
                        <option value="Started">Started</option>
                        <option value="Completed">Completed</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Budget">Budget</label>
                <div class="field-group">
                    <input asp-for="Budget" type="text" placeholder="0" />
                </div>
            </div>

            <button type="submit" class="create-button">Create</button>

        </form>

    </div>
</div>
