@model Business.Models.AddProjectFormData
@{
}

<div id="addProjectModal" class="modal addProjectModal">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Add Project</h2>
            <button type="button" class="close-button" data-close="true">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <img id="projectImage" src="images/project.svg" alt="Project Image" />
        <form class="addProject ajax-form" novalidate method="post" asp-page="/Portal" asp-page-handler="AddProject">
            <div class="form-group">
                <div class="field-group">
                    <label asp-for="ProjectName">Project Name</label>
                    <input asp-for="ProjectName" type="text" class="form-input" placeholder="Project Name"/>
                    <span asp-validation-for ="ProjectName"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="field-group">
                    <label asp-for="ClientName">Client Name</label>
                    <input asp-for="ClientName" type="text" class="form-input" placeholder="Client Name" />
                    <span asp-validation-for="ClientName"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="field-group">
                    <label asp-for="Description">Description</label>
                    <input asp-for="Description" id="description" type="text" class="form-input" placeholder="Give your project a description" />
                    <span asp-validation-for="Description"></span>
                </div>
            </div>
            <div class="dates">
                <div class="form-group">
                    <div class="field-group">
                        <label asp-for="StartDate">Start Date</label>
                        <input asp-for="StartDate" type="date" class="form-input" value="2025-01-01" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="field-group">
                        <label asp-for="EndDate">End Date</label>
                        <input asp-for="EndDate" type="date" class="form-input" value="2025-01-01" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div id="status" class="field-group">
                    <label asp-for="Status">Status</label>
                    <select asp-for="Status" name="Status">
                        <option value="Not yet started">Not yet started</option>
                        <option value="Started">Started</option>
                        <option value="Completed">Completed</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="field-group">
                    <label asp-for="Budget">Budget</label>
                    <input asp-for="Budget" type="text" class="form-input" placeholder="0" />
                    <span asp-validation-for="Budget"></span>
                </div>
            </div>
            <button type="submit" class="create-button">Create</button>
        </form>
    </div>
</div>

