@model ASP.NET_Assignment.Pages.Shared.Partials.Sections._EditAndDeleteModel
@{
}

<partial name="Partials/Sections/_EditProjectForm" model="Model.EditProjectFormData"></partial>

<div id="editAndDeleteModal" class="editAndDeleteModal">
    <div class="modal-content">
        <button type="button" class="edit-project-trigger" data-modal="true" data-target="#editProjectModal">
            <i class="fa-solid fa-pen"></i> 
            <p>Edit</p>
        </button>
        <form method="post" asp-page-handler="DeleteProject">
            <input type="hidden" id="projectIdInput" name="projectId" value="@Model.ProjectId"/>
            <button type="submit" class="delete-button">
                <i class="fa-solid fa-trash-can"></i>
                <p>Delete Project</p>
            </button>
        </form>
    </div>
</div>