@page
@using Data.Entities
@using Microsoft.AspNetCore.Identity
@model ASP.NET_Assignment.Pages.Shared.Partials.Sections._SignOutModel
@inject UserManager<UserEntity> UserManager;
@{
    var user = await UserManager.GetUserAsync(User);
    var fullName = user?.FullName;
}

<div id="signOutModal" class="signOutModal">
    <div class="modal-content">

        <div class="modal-header">

            <img src="/images/avatar.svg" alt="Avatar">
            <p>@fullName</p>  

        </div>

        <form method="post" asp-page="/Shared/Partials/Sections/_SignOut">
            <button type="submit" class="signOut-button">
                <i class="fa-solid fa-right-from-bracket"></i>
                <p>Logout</p>
            </button>
        </form>

    </div>

</div>