@page "/"
@model ASP.NET_Assignment.Pages.LoginModel
@{

}

<div class="login-wrapper">
    <div class="container">
        <h1>Login</h1>

        <form method="post" id="loginForm" class="login-form" novalidate>

            <div class="input-group">
                <label asp-for="Form.Email" class="form-label">Email</label>
                <input asp-for="Form.Email" id="email" class="form-input" placeholder="Your email adress">
                <span asp-validation-for="Form.Email"></span>
            </div>

            <div class="input-group">
                <label asp-for="Form.Password" class="form-label">Password</label>
                <input asp-for="Form.Password" id="password" class="form-input" placeholder="Enter your password">
                <span asp-validation-for="Form.Password"></span>
            </div>

            <div class="remember-button">
                <span>Remember Me</span>
                <label asp-for="Form.RememberMe">
                    <input asp-for="Form.RememberMe" type="checkbox">
                </label>
            </div>

            <button id="submit-button" type="submit" class="button">
                <a asp-page="/Portal" id="login-link">Log In</a>
            </button>

        </form>
        <p>
            Don't have an account?
            <a asp-page="/Register" id="register-link">Sign up</a>
        </p>

    </div>
</div>

@await Html.PartialAsync("_ValidationScripts")