@page
@model ASP.NET_Assignment.Pages.PortalModel
@{

    // var addProjectFormModel = new ASP.NET_Assignment.Pages.Shared.Partials.Sections._AddProjectFormModel();
}

<partial name="Partials/Sections/_AddProjectForm" model="Model.AddProjectForm" />
<partial name="Partials/Sections/_SignOut" model="Model.SignOutModel" />

<div class="portal-wrapper">
    <div class="container-side">
        <img src="/images/logo.svg" alt="Logo">
        <div class="folder">
            <i class="fa-solid fa-suitcase"></i>
            <p>Projects</p>
        </div>
    </div>
    <div class="container-main">

        <div class="top">
            <img src="/images/avatar.svg" alt="Avatar">
            <button id="log-out-button" type="button" data-modal="true" data-target="#signOutModal" data-close="true">
                <i class="fa-solid fa-gear"></i>
            </button>
            
        </div>

        <div class="overview">

            <div class="overview-top">
                <h1>Projects</h1>
                <button id="add-project-button" type="button" data-modal="true" data-target="#addProjectModal">+ Add Project</button>
            </div>
            <div class="overview-bottom">
                <p>ALL[0]</p>
                <p>STARTED[0]</p>
                <p>COMPLETED[0]</p>
            </div>
        </div>

        <div class="projects">
            <p>projects here</p>
        </div>

    </div>

</div>
